
html, body, #app, #app > div {
    height: 100%;
}

body {
    background-color: $black-2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.view {
    margin: 0 auto;
    padding-top: 50px;
    min-height: 100%;
    margin-bottom: -80px;
    padding-bottom: 130px;
}
