.navbar {
    background-color: $black-1;
    height: 50px;
    position: fixed;
}

.navbar__list-item {
    display: inline-block;
}

.navbar__link {
    padding: 15px;
    display: block;
    color: $white-1;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: $main-font;
}

.navbar__link--active {
    animation: light-spectrum 7s infinite;
}
