
// Colors
$black-1: #111;
$black-2: #222;

$white-1: #F9F9F9;
$white-2: #d8d8d8;

$gray-1: #444;
$gray-2: #2e2e2e;
$gray-3: #929191;
$gray-4: #717171;

$pink-1: #ff009c;

$red-1: #f00;

$orange-1: #ff9c00;

$yellow-1: #f5ff00;

$green-1: #3cf10e;

$cyan-1: #01ffe5;

$blue-1: #2196f3;

$purple-1: #c500ff;

// Fonts
$main-font: 'Open Sans', sans-serif;
